/*  ----- HEADER -----  */
.header-redirects {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.logo {
    width: 40%;
}

.redirects, .multimedia, .header-categories {
    display: none;
}

/*  ----- SECTION -----  */
.new {
    width: 100%;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
}

.new .new-image img {
    width: 100%;
}

.new .new-information .information-social-media {
    padding: 0;
}

.interest {
    width: 100%;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
}

.interest .interest-categories {
    padding-left: 5px;
}

/*  ----- FOOTER -----  */
.footer-box {
    width: 100%;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
    padding: 5px 0px;
}

.footer-table {
    display: none;
}

.footer-box .footer-information ul {
    display: block;
    font-size: 13px;
    padding-left: 10px;
}

.footer-box .footer-information ul li {
    margin-top: 10px;
}